In [ ]:
#Mounting Google drive to get the data.
#from google.colab import drive
#drive.mount('/content/drive')

#Importing Libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# viewing the data in files

In [ ]:
a=pd.read_csv("s3Files/data2.txt")
a

      Unnamed: 0  2102  2318    97  Unnamed: 4
0            NaN  2095  2326    94         NaN
1            NaN  2087  2336    78         NaN
2            NaN  1867  2429   283         NaN
3            NaN  1862  2430   297         NaN
4            NaN  1853  2434   311         NaN
...          ...   ...   ...   ...         ...
9994         NaN  1809  2135   789         NaN
9995         NaN  1816  2136   790         NaN
9996         NaN  1824  2122   790         NaN
9997         NaN  1829  2121   791         NaN
9998         NaN  1835  2107   795         NaN

[9999 rows x 5 columns]

In [ ]:
b=pd.read_csv("s3Files/data108.txt")
b

      Unnamed: 0  2147  2223    84  Unnamed: 4
0            NaN  2136  2228    84         NaN
1            NaN  2128  2236    84         NaN
2            NaN  2121  2243    81         NaN
3            NaN  2117  2254    80         NaN
4            NaN  2105  2263    74         NaN
...          ...   ...   ...   ...         ...
9994         NaN  2189  2180    87         NaN
9995         NaN  2181  2180    89         NaN
9996         NaN  2175  2188    90         NaN
9997         NaN  2166  2193    89         NaN
9998         NaN  2161  2202    90         NaN

[9999 rows x 5 columns]

In [ ]:
b=pd.read_csv("s3Files/data109.txt")
b

      Unnamed: 0  2151  2208    88  Unnamed: 4
0            NaN  2146  2215    85         NaN
1            NaN  2141  2222    82         NaN
2            NaN  2131  2394   143         NaN
3            NaN  1924  2395   152         NaN
4            NaN  1911  2394   168         NaN
...          ...   ...   ...   ...         ...
9994         NaN  2212  1930   432         NaN
9995         NaN  2211  1938   436         NaN
9996         NaN  2212  1941   431         NaN
9997         NaN  2207  1945   421         NaN
9998         NaN  2210  1948   415         NaN

[9999 rows x 5 columns]

In [ ]:
# Understanding the data
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  0 non-null      float64
 1   2151        9999 non-null   int64
 2   2208        9999 non-null   int64
 3     88        9999 non-null   int64
 4   Unnamed: 4  0 non-null      float64
dtypes: float64(2), int64(3)
memory usage: 390.7 KB

In [ ]:
# to interact with the operating system.  
import os 

# define the directory where the tables are stored
directory = 's3Files'

# create an empty list to hold the tables
tables = []
print(directory)

s3Files

In [ ]:
#Merging all tables into one data frame
def merge_files(folder_path):
    files = [file for file in os.listdir(folder_path) if file.endswith('.txt')]
    # read first file to initialize the merged dataframe
    merged_df = pd.read_csv(os.path.join(folder_path, files[0]), header=None)
    # loop over remaining files and merge with the existing dataframe
    for file in files[1:]:
        df = pd.read_csv(os.path.join(folder_path, file), header=None)
        # get the maximum number of columns between the two dataframes
        max_cols = max(len(merged_df.columns), len(df.columns))
        # add missing columns to both dataframes and fill with NaN
        merged_df = merged_df.reindex(columns=range(max_cols)).fillna('')
        df = df.reindex(columns=range(max_cols)).fillna('')
        # concatenate the dataframes vertically
        merged_df = pd.concat([merged_df, df], ignore_index=True)
    # add numbered column names to the merged dataframe
    merged_df.columns = [f'col{i}' for i in range(1, len(merged_df.columns) + 1)]
    return merged_df

In [ ]:
# Final DataFrame
df=merge_files(directory_path)
df

        col1  col2  col3  col4 col5
0             2102  2318    97
1             2095  2326    94
2             2087  2336    78
3             1867  2429   283
4             1862  2430   297
...      ...   ...   ...   ...  ...
3169995       2033  2409   108
3169996       2029  2411   110
3169997       2026  2415   112
3169998       2031  2418   120
3169999       2017  2418   125

[3170000 rows x 5 columns]

In [ ]:
df.columns #checking columns

Index(['col1', 'col2', 'col3', 'col4', 'col5'], dtype='object')

In [ ]:
df.drop(["col1", "col5"], axis=1) # Dropping empty columns

         col2  col3  col4
0        2102  2318    97
1        2095  2326    94
2        2087  2336    78
3        1867  2429   283
4        1862  2430   297
...       ...   ...   ...
3169995  2033  2409   108
3169996  2029  2411   110
3169997  2026  2415   112
3169998  2031  2418   120
3169999  2017  2418   125

[3170000 rows x 3 columns]

In [ ]:
pip install pycaret # installing pycaret

Requirement already satisfied: pycaret in /opt/conda/lib/python3.8/site-packages (2.3.8)
Requirement already satisfied: gensim<4.0.0 in /opt/conda/lib/python3.8/site-packages (from pycaret) (3.8.3)
Requirement already satisfied: mlxtend>=0.17.0 in /opt/conda/lib/python3.8/site-packages (from pycaret) (0.20.0)
Requirement already satisfied: yellowbrick>=1.0.1 in /opt/conda/lib/python3.8/site-packages (from pycaret) (1.3.post1)
Requirement already satisfied: cufflinks>=0.17.0 in /opt/conda/lib/python3.8/site-packages (from pycaret) (0.17.3)
Requirement already satisfied: kmodes>=0.10.1 in /opt/conda/lib/python3.8/site-packages (from pycaret) (0.12.1)
Requirement already satisfied: pandas in /opt/conda/lib/python3.8/site-packages (from pycaret) (1.4.3)
Collecting pyyaml<6.0.0
  Using cached PyYAML-5.4.1-cp38-cp38-manylinux1_x86_64.whl (662 kB)
Requirement already satisfied: wordcloud in /opt/conda/lib/python3.8/site-packages (from pycaret) (1.8.2.2)
Requirement already satisfied: ipywidgets in /opt/conda/lib/python3.8/site-packages (from pycaret) (7.7.1)
Requirement already satisfied: numba<0.55 in /opt/conda/lib/python3.8/site-packages (from pycaret) (0.53.1)
Requirement already satisfied: pyod in /opt/conda/lib/python3.8/site-packages (from pycaret) (1.0.4)
Requirement already satisfied: pandas-profiling>=2.8.0 in /opt/conda/lib/python3.8/site-packages (from pycaret) (3.0.0)
Requirement already satisfied: textblob in /opt/conda/lib/python3.8/site-packages (from pycaret) (0.15.3)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.8/site-packages (from pycaret) (3.5.1)
Requirement already satisfied: lightgbm>=2.3.1 in /opt/conda/lib/python3.8/site-packages (from pycaret) (3.3.2)
Requirement already satisfied: nltk in /opt/conda/lib/python3.8/site-packages (from pycaret) (3.7)
Requirement already satisfied: scipy<=1.5.4 in /opt/conda/lib/python3.8/site-packages (from pycaret) (1.5.3)
Requirement already satisfied: spacy<2.4.0 in /opt/conda/lib/python3.8/site-packages (from pycaret) (2.3.7)
Collecting scikit-learn==0.23.2
  Using cached scikit_learn-0.23.2-cp38-cp38-manylinux1_x86_64.whl (6.8 MB)
Requirement already satisfied: pyLDAvis in /opt/conda/lib/python3.8/site-packages (from pycaret) (3.3.1)
Requirement already satisfied: IPython in /opt/conda/lib/python3.8/site-packages (from pycaret) (8.0.1)
Requirement already satisfied: plotly>=4.4.1 in /opt/conda/lib/python3.8/site-packages (from pycaret) (5.9.0)
Requirement already satisfied: joblib in /opt/conda/lib/python3.8/site-packages (from pycaret) (1.1.0)
Requirement already satisfied: scikit-plot in /opt/conda/lib/python3.8/site-packages (from pycaret) (0.3.7)
Requirement already satisfied: imbalanced-learn==0.7.0 in /opt/conda/lib/python3.8/site-packages (from pycaret) (0.7.0)
Requirement already satisfied: seaborn in /opt/conda/lib/python3.8/site-packages (from pycaret) (0.11.2)
Requirement already satisfied: mlflow in /opt/conda/lib/python3.8/site-packages (from pycaret) (1.26.1)
Requirement already satisfied: Boruta in /opt/conda/lib/python3.8/site-packages (from pycaret) (0.3)
Requirement already satisfied: umap-learn in /opt/conda/lib/python3.8/site-packages (from pycaret) (0.5.3)
Requirement already satisfied: numpy>=1.13.3 in /opt/conda/lib/python3.8/site-packages (from imbalanced-learn==0.7.0->pycaret) (1.22.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from scikit-learn==0.23.2->pycaret) (3.1.0)
Requirement already satisfied: six>=1.9.0 in /opt/conda/lib/python3.8/site-packages (from cufflinks>=0.17.0->pycaret) (1.16.0)
Requirement already satisfied: colorlover>=0.2.1 in /opt/conda/lib/python3.8/site-packages (from cufflinks>=0.17.0->pycaret) (0.3.0)
Requirement already satisfied: setuptools>=34.4.1 in /opt/conda/lib/python3.8/site-packages (from cufflinks>=0.17.0->pycaret) (59.5.0)
Requirement already satisfied: smart-open>=1.8.1 in /opt/conda/lib/python3.8/site-packages (from gensim<4.0.0->pycaret) (5.2.1)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.8/site-packages (from IPython->pycaret) (0.7.5)
Requirement already satisfied: backcall in /opt/conda/lib/python3.8/site-packages (from IPython->pycaret) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.8/site-packages (from IPython->pycaret) (4.8.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.8/site-packages (from IPython->pycaret) (0.1.4)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from IPython->pycaret) (3.0.26)
Requirement already satisfied: pygments in /opt/conda/lib/python3.8/site-packages (from IPython->pycaret) (2.11.2)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.8/site-packages (from IPython->pycaret) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.8/site-packages (from IPython->pycaret) (0.18.1)
Requirement already satisfied: decorator in /opt/conda/lib/python3.8/site-packages (from IPython->pycaret) (5.1.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.8/site-packages (from IPython->pycaret) (0.1.3)
Requirement already satisfied: black in /opt/conda/lib/python3.8/site-packages (from IPython->pycaret) (22.1.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /opt/conda/lib/python3.8/site-packages (from ipywidgets->pycaret) (1.1.1)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /opt/conda/lib/python3.8/site-packages (from ipywidgets->pycaret) (3.6.1)
Requirement already satisfied: ipykernel>=4.5.1 in /opt/conda/lib/python3.8/site-packages (from ipywidgets->pycaret) (6.15.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in /opt/conda/lib/python3.8/site-packages (from ipywidgets->pycaret) (0.2.0)
Requirement already satisfied: psutil in /opt/conda/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (5.9.0)
Requirement already satisfied: jupyter-client>=6.1.12 in /opt/conda/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (7.1.2)
Requirement already satisfied: packaging in /opt/conda/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (21.3)
Requirement already satisfied: nest-asyncio in /opt/conda/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (1.5.5)
Requirement already satisfied: pyzmq>=17 in /opt/conda/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (22.3.0)
Requirement already satisfied: debugpy>=1.0 in /opt/conda/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (1.6.0)
Requirement already satisfied: tornado>=6.1 in /opt/conda/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (6.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.8/site-packages (from jedi>=0.16->IPython->pycaret) (0.8.3)
Requirement already satisfied: entrypoints in /opt/conda/lib/python3.8/site-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets->pycaret) (0.4)
Requirement already satisfied: jupyter-core>=4.6.0 in /opt/conda/lib/python3.8/site-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets->pycaret) (4.11.1)
Requirement already satisfied: python-dateutil>=2.1 in /opt/conda/lib/python3.8/site-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets->pycaret) (2.8.2)
Requirement already satisfied: wheel in /opt/conda/lib/python3.8/site-packages (from lightgbm>=2.3.1->pycaret) (0.37.0)
Collecting mlxtend>=0.17.0
  Using cached mlxtend-0.21.0-py2.py3-none-any.whl (1.3 MB)
  Using cached mlxtend-0.19.0-py2.py3-none-any.whl (1.3 MB)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.8/site-packages (from matplotlib->pycaret) (4.34.4)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/conda/lib/python3.8/site-packages (from matplotlib->pycaret) (3.0.7)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.8/site-packages (from matplotlib->pycaret) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.8/site-packages (from matplotlib->pycaret) (9.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.8/site-packages (from matplotlib->pycaret) (1.4.4)
Requirement already satisfied: llvmlite<0.37,>=0.36.0rc1 in /opt/conda/lib/python3.8/site-packages (from numba<0.55->pycaret) (0.36.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.8/site-packages (from pandas->pycaret) (2021.3)
Requirement already satisfied: phik>=0.11.1 in /opt/conda/lib/python3.8/site-packages (from pandas-profiling>=2.8.0->pycaret) (0.12.2)
Requirement already satisfied: visions[type_image_path]==0.7.1 in /opt/conda/lib/python3.8/site-packages (from pandas-profiling>=2.8.0->pycaret) (0.7.1)
Requirement already satisfied: tqdm>=4.48.2 in /opt/conda/lib/python3.8/site-packages (from pandas-profiling>=2.8.0->pycaret) (4.62.3)
Collecting tangled-up-in-unicode==0.1.0
  Using cached tangled_up_in_unicode-0.1.0-py3-none-any.whl (3.1 MB)
Requirement already satisfied: requests>=2.24.0 in /opt/conda/lib/python3.8/site-packages (from pandas-profiling>=2.8.0->pycaret) (2.26.0)
Requirement already satisfied: pydantic>=1.8.1 in /opt/conda/lib/python3.8/site-packages (from pandas-profiling>=2.8.0->pycaret) (1.8.2)
Requirement already satisfied: htmlmin>=0.1.12 in /opt/conda/lib/python3.8/site-packages (from pandas-profiling>=2.8.0->pycaret) (0.1.12)
Requirement already satisfied: missingno>=0.4.2 in /opt/conda/lib/python3.8/site-packages (from pandas-profiling>=2.8.0->pycaret) (0.4.2)
Requirement already satisfied: jinja2>=2.11.1 in /opt/conda/lib/python3.8/site-packages (from pandas-profiling>=2.8.0->pycaret) (3.0.3)
Requirement already satisfied: networkx>=2.4 in /opt/conda/lib/python3.8/site-packages (from visions[type_image_path]==0.7.1->pandas-profiling>=2.8.0->pycaret) (2.8.5)
Requirement already satisfied: bottleneck in /opt/conda/lib/python3.8/site-packages (from visions[type_image_path]==0.7.1->pandas-profiling>=2.8.0->pycaret) (1.3.5)
Requirement already satisfied: attrs>=19.3.0 in /opt/conda/lib/python3.8/site-packages (from visions[type_image_path]==0.7.1->pandas-profiling>=2.8.0->pycaret) (21.4.0)
Requirement already satisfied: multimethod==1.4 in /opt/conda/lib/python3.8/site-packages (from visions[type_image_path]==0.7.1->pandas-profiling>=2.8.0->pycaret) (1.4)
Requirement already satisfied: imagehash in /opt/conda/lib/python3.8/site-packages (from visions[type_image_path]==0.7.1->pandas-profiling>=2.8.0->pycaret) (4.2.1)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.8/site-packages (from jinja2>=2.11.1->pandas-profiling>=2.8.0->pycaret) (2.0.1)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.8/site-packages (from pexpect>4.3->IPython->pycaret) (0.7.0)
Requirement already satisfied: tenacity>=6.2.0 in /opt/conda/lib/python3.8/site-packages (from plotly>=4.4.1->pycaret) (8.0.1)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->IPython->pycaret) (0.2.5)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /opt/conda/lib/python3.8/site-packages (from pydantic>=1.8.1->pandas-profiling>=2.8.0->pycaret) (4.0.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.8/site-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.8/site-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2022.6.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.8/site-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2.0.9)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.8/site-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (3.1)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /opt/conda/lib/python3.8/site-packages (from spacy<2.4.0->pycaret) (1.0.6)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /opt/conda/lib/python3.8/site-packages (from spacy<2.4.0->pycaret) (3.0.6)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /opt/conda/lib/python3.8/site-packages (from spacy<2.4.0->pycaret) (0.9.6)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /opt/conda/lib/python3.8/site-packages (from spacy<2.4.0->pycaret) (0.7.5)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /opt/conda/lib/python3.8/site-packages (from spacy<2.4.0->pycaret) (0.9.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /opt/conda/lib/python3.8/site-packages (from spacy<2.4.0->pycaret) (2.0.6)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /opt/conda/lib/python3.8/site-packages (from spacy<2.4.0->pycaret) (1.0.5)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /opt/conda/lib/python3.8/site-packages (from spacy<2.4.0->pycaret) (1.0.0)
Requirement already satisfied: thinc<7.5.0,>=7.4.1 in /opt/conda/lib/python3.8/site-packages (from spacy<2.4.0->pycaret) (7.4.5)
Requirement already satisfied: notebook>=4.4.1 in /opt/conda/lib/python3.8/site-packages (from widgetsnbextension~=3.6.0->ipywidgets->pycaret) (6.4.12)
Requirement already satisfied: Send2Trash>=1.8.0 in /opt/conda/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (1.8.0)
Requirement already satisfied: argon2-cffi in /opt/conda/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (21.3.0)
Requirement already satisfied: prometheus-client in /opt/conda/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.14.1)
Requirement already satisfied: nbformat in /opt/conda/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (5.4.0)
Requirement already satisfied: terminado>=0.8.3 in /opt/conda/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.15.0)
Requirement already satisfied: nbconvert>=5 in /opt/conda/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (6.5.0)
Requirement already satisfied: nbclient>=0.5.0 in /opt/conda/lib/python3.8/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.5.13)
Requirement already satisfied: pandocfilters>=1.4.1 in /opt/conda/lib/python3.8/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (1.5.0)
Requirement already satisfied: bleach in /opt/conda/lib/python3.8/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (5.0.1)
Requirement already satisfied: mistune<2,>=0.8.1 in /opt/conda/lib/python3.8/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.8.4)
Requirement already satisfied: tinycss2 in /opt/conda/lib/python3.8/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (1.1.1)
Requirement already satisfied: defusedxml in /opt/conda/lib/python3.8/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in /opt/conda/lib/python3.8/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.2.2)
Requirement already satisfied: beautifulsoup4 in /opt/conda/lib/python3.8/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (4.10.0)
Requirement already satisfied: jsonschema>=2.6 in /opt/conda/lib/python3.8/site-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (4.9.1)
Requirement already satisfied: fastjsonschema in /opt/conda/lib/python3.8/site-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (2.16.1)
Requirement already satisfied: pkgutil-resolve-name>=1.3.10 in /opt/conda/lib/python3.8/site-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (1.3.10)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /opt/conda/lib/python3.8/site-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.18.1)
Requirement already satisfied: importlib-resources>=1.4.0 in /opt/conda/lib/python3.8/site-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (5.9.0)
Requirement already satisfied: zipp>=3.1.0 in /opt/conda/lib/python3.8/site-packages (from importlib-resources>=1.4.0->jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (3.8.1)
Collecting numpy>=1.13.3
  Using cached numpy-1.19.5-cp38-cp38-manylinux2010_x86_64.whl (14.9 MB)
Requirement already satisfied: argon2-cffi-bindings in /opt/conda/lib/python3.8/site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (21.2.0)
Requirement already satisfied: cffi>=1.0.1 in /opt/conda/lib/python3.8/site-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (1.15.0)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.8/site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (2.21)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/lib/python3.8/site-packages (from beautifulsoup4->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (2.3.1)
Requirement already satisfied: pathspec>=0.9.0 in /opt/conda/lib/python3.8/site-packages (from black->IPython->pycaret) (0.9.0)
Requirement already satisfied: click>=8.0.0 in /opt/conda/lib/python3.8/site-packages (from black->IPython->pycaret) (8.0.3)
Requirement already satisfied: tomli>=1.1.0 in /opt/conda/lib/python3.8/site-packages (from black->IPython->pycaret) (2.0.1)
Requirement already satisfied: mypy-extensions>=0.4.3 in /opt/conda/lib/python3.8/site-packages (from black->IPython->pycaret) (0.4.3)
Requirement already satisfied: platformdirs>=2 in /opt/conda/lib/python3.8/site-packages (from black->IPython->pycaret) (2.4.1)
Requirement already satisfied: webencodings in /opt/conda/lib/python3.8/site-packages (from bleach->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.5.1)
Requirement already satisfied: PyWavelets in /opt/conda/lib/python3.8/site-packages (from imagehash->visions[type_image_path]==0.7.1->pandas-profiling>=2.8.0->pycaret) (1.3.0)
Requirement already satisfied: protobuf>=3.12.0 in /opt/conda/lib/python3.8/site-packages (from mlflow->pycaret) (3.20.1)
Requirement already satisfied: Flask in /opt/conda/lib/python3.8/site-packages (from mlflow->pycaret) (2.1.3)
Requirement already satisfied: gitpython>=2.1.0 in /opt/conda/lib/python3.8/site-packages (from mlflow->pycaret) (3.1.27)
Requirement already satisfied: gunicorn in /opt/conda/lib/python3.8/site-packages (from mlflow->pycaret) (20.1.0)
Requirement already satisfied: cloudpickle in /opt/conda/lib/python3.8/site-packages (from mlflow->pycaret) (2.1.0)
Requirement already satisfied: docker>=4.0.0 in /opt/conda/lib/python3.8/site-packages (from mlflow->pycaret) (5.0.3)
Requirement already satisfied: importlib-metadata!=4.7.0,>=3.7.0 in /opt/conda/lib/python3.8/site-packages (from mlflow->pycaret) (4.11.4)
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.8/site-packages (from mlflow->pycaret) (1.4.40)
Requirement already satisfied: sqlparse>=0.3.1 in /opt/conda/lib/python3.8/site-packages (from mlflow->pycaret) (0.4.2)

In [ ]:
import pycaret
#import anomaly detection module
from pycaret.anomaly import *

# initialize the setup
exp_ano = setup(data=df)

In [ ]:
## Training the model
iforest=create_model('iforest')
## plotting a model
plot_model(iforest)

In [ ]:
# assign model
assign_model(iforest)

In [ ]:
## plotting a model
plot_model(iforest)

In [ ]:
## creating a model
knn=create_model('knn')
## plotting a model
plot_model(knn)

In [ ]:
## plotting the model
plot_model(knn)

In [ ]:
# generate predictions using trained model
knn_predictions = predict_model(knn, data = df)

In [ ]:
#view predictions
knn_predictions